{% extends 'base.html' %}

{%block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" defer></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
{% endblock %}


{% block body%}

<h1> A torque curve </h1>

<button id="randomizeData">Randomize Data</button>
<button id="addData">Add Data</button>
<button id="removeData">Remove Data</button>

<!-- down here is my tiny chart...-->
<div class="chart-container">
    <canvas id="plot", width="600" height="400"></canvas>
</div>
{% endblock %}
