{% extends 'base.html' %}

{%block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" defer></script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
{% endblock %}


{% block body%}

<h1> A torque curve </h1>

<div class="form">
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="run with arguments">
    </form>
</div>
<div class="chart-container">
    <canvas id="plot", width="600" height="400"></canvas>
</div>
{% endblock %}
